<!doctype html>
<html>
  <head>
    <title>Get Involved Page</title>
  </head>
  
  <body>
    <ul>
      <li><a href= "home.erb">HOME</a></li>
      <li><a href= "quiz.erb">QUIZ</a></li>
      <li><a href= "donate.erb">DONATE</a></li>
      <li><a href= "get_involved.erb">GET INVOLVED</a></li>
    </ul>
    <br>
    <h1>Get Involved</h1>
    <br>
    <p>Want more ways to get involved? Click on or reach out to any of these organizations to find out more:</p>
    <ul>
      <li>
        <a href = "https://www.wcs.org/get-involved">Wildlife Conservation Society (WCS)</a>
      <ul>
        <li>Address: 2300 Southern Boulevard Bronx, New York 10460</li>
        <li>Cell: +1718 220-5100</li>
      </ul>
      </li>
      <li>
        <a href = "https://www.worldwildlife.org/how-to-help">World Wildlife Fund (WWF)</a>
        <ul>
          <li>Address: 1250 24th Street, N.W Washington, DC 20037-1193</li>
          <li>Cell: 202-293-4800</li>
        </ul>
      </li>
      <li>
        <a href = "https://defenders.org/">Defenders of Wildlife</a>
        <ul>
          <li>Address: 1130 17th Street, NW Washington, DC 20036</li>
          <li>Cell: 1-800-385-9712</li>
        </ul>
      </li>
      <li>
        <a href = "https://wildnet.org/get-involved/">Wildlife Conservation Network (WCN)</a>
        <ul>
          <li>Address: 209 Mississippi Street. San Francisco, CA 94107</li>
          <li>Cell: 415-202-6380</li>
        </ul>
      </li>
    </ul>
    
  </body>
</html>
